body {
  background: rgb(250, 243, 243);
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  /*font: normal 16px  "Roboto", sans-serif;*/
}

a {
  color: #040949;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: brown;
}

/* a:visited {
  color: #040949;
} */
.avatar {
  height: 255px;
  border-radius: 15px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
  margin: 20px 20px;
}

.info {
  margin-bottom: px;
  display: flex;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
  padding-top: 15px ;
}

.info-text h3 {
  margin-bottom: 10px;
}

.info p {
  color: #2d5f2c;
  margin: 0px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: none; */
  /* letter-spacing: 2px; */
  /* word-spacing: 5px; */
}

.social {
  margin-top: 30px;
}

/* BOX MODEL */
.container {
  color: #27173b;
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .reach {
  background: #2d5f2c;
  padding: 15px;
  border: 5px solid rebeccapurple; 
  border-bottom-style:dashed;
  border-top-width: 15px;
  border-right-color:rgb(30, 255, 0) ;
  margin: 5px;
} */
/* .box-model > div {
  float: left;
  background: rgb(56, 8, 8);
  width: 25%;
  height: 200px;
  border: 4px solid #2d5f2c;
  box-sizing: border-box;
} */
.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
  margin: 0px;
  padding: 0px;
}

.card {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.ul-telegram {
  list-style-type: none;
  margin: none;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
  /* border-bottom: 1px solid gray; */
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #4b8d4e;
}

.table tr:nth-child(odd) {
  background: rebeccapurple;
}

.link-list {
  list-style: none;
  padding: 0%;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h3 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 10px 0px 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row>.form-group {
  width: 50%;
  margin-right: 20px;
}

.row>.form-group:last-child {
  margin-right: 0;
}

.btn {
  background: #000;
  padding: 5px 5px;
  color: #86898f;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* Position */

/* .position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}

.box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 40%;
  width: 50px;
  height: 50px;
  background: lightcoral;
} */